*.log
*.bak*
*.orig*
*.png
.*/
coverage.*
Makefile
Makefile.local
vendor/
generic2notes/generic2notes
obsolete-packages/obsolete-packages
portsindexup/portsindexup
strip-merge/strip-merge
unhealthy-tgs/unhealthy-tgs
